<div ng-controller="mainController">
    <!-- Navigation -->
    <navbar-directive></navbar-directive>
    
    <!-- Intro Header -->
    <header class="intro">
            <div class="intro-body">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="brand-heading">
                                <span>Hi,<br>I'm Jason</span>
                            </div>
                        </div>
                        <div class="col-md-5 col-md-offset-2">
                            <p class="intro-text">I enjoy long walks on the beach, test-driven development, loosely coupled code, and a good cup of coffee.<br>Please look around to learn more about me and what I can bring to your team.</p><br>
                            <!--
                            <div class="btn-group-lg" role="group" aria-label="...">
                            <a role="button" class="btn-lg btn-default" href="#!/">About Me</a>
                            <a role="button" class="btn-lg btn-default" href="#!/resume">GitHub</a>
                            <a role="button" class="btn-lg btn-default" href="#download">LinkedIn</a>
                            <a role="button" class="btn-lg btn-default" href="#contact">Contact</a>
                    </div>
                            -->
                        </div>
                    </div>
                </div>
            </div>
        </header>
</div>